jeecg-boot/stago-webexcel/src/main/java/org/jeecg/modules/excelConfig/schema/example.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" targetNamespace="http://localhost:8080//example">

    <xs:element name="excelConfig" >
        <xs:complexType>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element name="parameters" >
                    <xs:complexType>
                        <xs:choice minOccurs="0" maxOccurs="unbounded">
                            <xs:element name="parameter" >
                                <xs:complexType>
                                    <xs:attribute name="name"      type="xs:string"/>
                                    <xs:attribute name="value"     type="xs:string"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:choice>
                        
                    </xs:complexType>
                </xs:element>
                <xs:element name="configs">
                    <xs:complexType>
                        <xs:choice minOccurs="0" maxOccurs="unbounded">
                            <xs:element name="config">
                                <xs:complexType>
                                    <xs:choice minOccurs="0" maxOccurs="unbounded">
                                        <xs:element name="entitys">
                                            <xs:complexType>
                                                <xs:choice minOccurs="0" maxOccurs="unbounded">
                                                    <xs:element name="entity">
                                                        <xs:complexType>
                                                            <xs:choice minOccurs="0" maxOccurs="unbounded">
                                                                <xs:element name="propertys">
                                                                    <xs:complexType>
                                                                        <xs:choice minOccurs="0" maxOccurs="unbounded">
                                                                            <xs:element name="property">
                                                                                <xs:complexType>
                                                                                    <xs:attribute name="cellIndex"  use="required"  type="xs:string"></xs:attribute>
                                                                                    <xs:attribute name="required" >
                                                                                        <xs:simpleType>
                                                                                            <xs:restriction base="xs:int">
                                                                                                <xs:enumeration value="-1"></xs:enumeration>
                                                                                                <xs:enumeration value="0"></xs:enumeration>
                                                                                                <xs:enumeration value="1"></xs:enumeration>
                                                                                            </xs:restriction>
                                                                                        </xs:simpleType>
                                                                                    </xs:attribute>
                                                                                    <xs:attribute name="feild"      use="required"  type="xs:string"></xs:attribute>
                                                                                    <xs:attribute name="isPrimary"                  type="xs:boolean"></xs:attribute>
                                                                                    <xs:attribute name="type"       use="required"  type="xs:string"></xs:attribute>
                                                                                    <xs:attribute name="getValueFunction"           type="xs:string"></xs:attribute>
                                                                                    <xs:attribute name="sortNum"                    type="xs:int"></xs:attribute>
                                                                                    <xs:attribute name="value"                      type="xs:string"></xs:attribute>
                                                                                    <xs:attribute name="warringFormat"              type="xs:string"></xs:attribute>
                                                                                    <xs:attribute name="feildRowValue"              type="xs:string"></xs:attribute>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                        </xs:choice>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:choice>
                                                            <xs:attribute name="dataSetId"  use="required"  type="xs:string"></xs:attribute>
                                                            <xs:attribute name="sheetName"  use="required"  type="xs:string"></xs:attribute>
                                                            <xs:attribute name="top"        use="required"  type="xs:int"></xs:attribute>
                                                            <xs:attribute name="left"       use="required"  type="xs:int"></xs:attribute>
                                                            <xs:attribute name="ref"                        type="xs:string"></xs:attribute>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:choice>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:choice>
                                    <xs:attribute name="id"     use="required" type="xs:string"></xs:attribute>
                                    <xs:attribute name="name"   use="required" type="xs:string"></xs:attribute>
                                    <xs:attribute name="action" use="required">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="save"></xs:enumeration>
                                                <xs:enumeration value="query"></xs:enumeration>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                </xs:complexType>
                            </xs:element>
                        </xs:choice>
                    </xs:complexType>
                </xs:element>
                <xs:element name="settings">
                    <xs:complexType>
                        <xs:choice minOccurs="0" maxOccurs="unbounded">
                            <xs:element name="setting">
                                <xs:complexType>
                                    <xs:choice minOccurs="0" maxOccurs="unbounded">
                                        <xs:element name="parameters">
                                            <xs:complexType>
                                                <xs:choice minOccurs="0" maxOccurs="unbounded">
                                                    <xs:element name="parameter">
                                                        <xs:complexType>
                                                            <xs:attribute name="name"   use="required"      type="xs:string"/>
                                                            <xs:attribute name="class"                      type="xs:string"/>
                                                            <xs:attribute name="value"  use="required"      type="xs:string"/>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:choice>
                                                <xs:attribute name="dataSetId"  type="xs:string"></xs:attribute>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="SQLStrs">
                                            <xs:complexType>
                                                <xs:choice minOccurs="0" maxOccurs="unbounded">
                                                    <xs:element name="sqlStr">

                                                    </xs:element>
                                                </xs:choice>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:choice>
                                    <xs:attribute name="dataSetId" use="required" type="xs:string"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:choice>
                        <xs:attribute name="cls"    use="required" type="xs:string"/>
                    </xs:complexType>
                </xs:element>
            </xs:choice>
        </xs:complexType>
    </xs:element>
</xs:schema>